body {
    margin: 0;
}

nav.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 119, 202);
}
nav.navbar ul li {
    display: inline-block;
    padding: 10px;
    margin: 0;
    margin-left: -3px;
    transition: all 0.2s;
}
nav.navbar ul li:hover {
    background-color: rgb(36, 143, 243);
}
nav.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Segoe UI Light, sans-serif;
}
nav.navbar ul li ul li a {
    color: #333;
    text-decoration: none;
    font-family: 'Segoe UI Light', sans-serif;
}
nav.navbar ul li ul {
    margin: 0;
    list-style-type: none;
    visibility: hidden;
    position: absolute;
    padding: 0;
    margin-top: 10px;
    margin-left: -10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #333;
}
a {
    text-decoration: none;
}
nav.navbar ul li:hover ul {
    visibility: visible;
}
nav.navbar ul li ul li {
    padding: 10px;
    margin: 0;
    display: block;
    margin-left: -3px;
    transition: all 0.2s;
}
nav.navbar ul li ul li:hover {
    background-color: #aaa;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Segoe UI Light', sans-serif;
}
p {
    font-family: 'Segoe UI Light', sans-serif;
}
.control {
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    font-family: Segoe UI Light, sans-serif;
    transition: box-shadow 0.3s;
}
.control:focus {
    box-shadow: 0px 0px 5px rgb(36, 143, 243);
}
input[type=submit].control {
    padding: 8px;
    width: 100%;
    border: 0px solid transparent;
    font-family: 'Segoe UI Light', sans-serif;
    background-color: #fff;
    transition: background-color 0.2s, box-shadow 0.2s;
}
input[type=submit].control:focus {
    box-shadow: 0px 0px 5px rgb(36, 143, 243);
}
input[type=submit].control:hover {
    box-shadow: 0px 0px 5px rgb(36, 143, 243);
}
.login-container {
    padding: 16px;
    font-family: Segoe UI Light, sans-serif;
    margin: auto;
    background-color: #fff;
    margin-top: 2em;
    width: 25%;
    box-shadow: 0px 1px 3px #333;
}
.form-container {
    padding: 16px;
    background-color: #fff;
    font-family: Segoe UI Light, sans-serif;
    margin: auto;
    margin-top: 10em;
    margin: 2em;
    box-shadow: 0px 1px 3px #333;
}
table.table {
    background-color: #fff;
    box-shadow: 0px 1px 3px #333;
    margin: auto;
    margin-top: 10px;
}
table.table, table.table td, table.table th {
    border-collapse: collapse;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif
}
table.table td, table.table th {
    padding: 10px;
}
table.table tr:hover th {
    background-color: #fff;
}
table.table tr:hover {
    background-color: #ddd;
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 5em;
    padding: 2em;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 1px 3px #333;
}